
*, *::before, *::after {
    margin: 0; 
    padding: 0; 
    box-sizing: border-box; 
}
  
 
:root,
html {
  /* スムーススクロール用 */
  scroll-behavior: smooth;

  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", YuGothic, "ヒラギノ角ゴ ProN W3", Hiragino Kaku Gothic ProN, Arial, "メイリオ", Meiryo, sans-serif;
  font-size: 14pt;
  font-feature-settings: "palt";
  
  --section-margin: 120px;
}
  
header{
    width: 100%;
    position: fixed;
    display: flex;
    background-color:rgb(0, 0, 0, 0.8);
    top: 0;
    left: 0;
    z-index: 999;
    flex-direction: column;
    
}
.h{
    display: flex;
}
header h2{
    color: white;
    font-size: 50px;
}
header img{
    width: 40px;
    height: 40px;
    margin: 20px;
}
header ul{
    list-style: none;
    display: flex;
    gap: 20px;
    justify-self: center;
    margin-top: 20px;
    color: white;
}
header ul li a {
    display: inline-block;
    font-size: 1rem;
    padding: 0.5rem 1.5rem;
    color: white;
    text-decoration: none;
    transition: all 0.3s;
}
header ul li a:hover,header ul li a:active {
    color: white;
    background-color: orange;
}

@media (min-width: 769px) {

    header h1 {
      content: none;
      height: 100px;
    }
    header h1::after {
      content: none;
    }
    header ul {
      margin-top: 0;
      height: 100%;
    }
    header li {
      display: flex;
      align-items: center;
    }
}









#myself {
    background-image: url("background.jpg");  
    background-size: cover; 
    
    background-position: center center; 
    
    display: grid; 
    place-items: center; 
  
    min-height: 100vh;
    --text-color: #f0f0f0;
    color: var(--text-color);
}
#myself{
    display: grid; 
    grid-template: "photo   name   " auto
                   "photo   texts  " auto
                   "photo   social " auto
                   / 300px minmax(300px, 450px);
    gap: 0 2rem;  
  
    padding: 2rem;  
    max-width: 100%; 
    backdrop-filter: blur(20px); 
    border: 1px solid rgba(255, 255, 255, 0.4); 
    border-right-color: rgba(255, 255, 255, 0.2); 
    border-bottom-color: rgba(255, 255, 255, 0.2);  
    border-radius: 8px; 
  }
  

@media screen and (width < 896px) { 
    main {

      grid-template: "photo  " auto
                     "name   " auto
                     "texts  " auto
                     "social " auto
                     / auto;
      gap: 1rem 0;  
      margin: 4rem 0;
    }
}
.my-photo {
    grid-area: photo;
    align-self: center;
}
.my-photo img {
    display: block; 
    width: 300px;
    height: 300px; 
    border-radius: 150px; 
}
  
 
@media screen and (width < 896px) { 
    .my-photo img {
      width: 70vw;
      height: 70vw; 
    }
}
  
.my-name {
    grid-area: name; 
    font-size: 3rem; 
    text-shadow: -1px 1px 0 #232323; 
    letter-spacing: 0.1em; 
    color: black;
}
 
@media screen and (width < 896px) {
    .my-name {
      font-size: 13vw; 
      text-align: center; 
    }
}
  
.my-texts {
    grid-area: texts; 
    color: black;
}
  
.my-social {
    grid-area: social;  
    list-style: none; 
    display: flex; 
    margin-top: 1.5rem;
}
.my-social li {
    line-height: 1; 
    margin-right: 1rem; 
    font-size: 2rem; 
}
  
.my-social li a {
    display: inline-block; 
    text-decoration: none; 
    color: var(--text-color);  
    cursor: pointer; 

    transition: 0.5s transform, 0.5s color;
  
    background-image: linear-gradient(to right, #eea2a2 0%, #bbc1bf 19%, #57c6e1 42%, #b49fda 79%, #7ac5d8 100%);
    -webkit-background-clip: text;
    background-clip: text;
}
  
  
.my-social li a:hover {
    color: transparent; 
    transform: scale(1.5); 
}
  
  
#myself{
    width: 100%;  
    height: 100%; 
    top: 0; 
    left: 0; 
  
    z-index: -1; 
    background-image: linear-gradient(to right, #74ebd5 0%, #9face6 100%);
    opacity: 0.5;
}
  
.my-photo figure {
    position: relative; 
}
.circle1,
.circle2,
.circle3 {
    position: absolute; 
    top: 0; 
    width: 100%;
    height: 100%;
    border-radius: 40%; 
    z-index: -1;
}
  
  
@keyframes rotation {
    from {  
      transform: rotate(0deg);  
    }
  
    to {  
      transform: rotate(360deg); 
    }
}
  
.circle1 {
    opacity: 0.1; 
    background: #0af; 
    transform-origin: 50% 47%;  
    animation: rotation 5s infinite linear; 
}
  
.circle2 {
    opacity: 0.3;
    background: #ff0;
    transform-origin: 52% 48%;
    animation: rotation 12s infinite linear;
}
  
.circle3 {
    opacity: 0.2;
    background: #fa0;
    transform-origin: 48% 52%;
    animation: rotation 8s infinite linear;
}

  
#works{
    height: auto;
    background-color: wheat;
    position: relative;
}
#works h2{
    font-size: 100px;
    color: rgb(235, 235, 235);
    text-decoration: underline;
    text-shadow:#000 1px 1px 5px;
}

.maya h3{
    font-size: 70px;
    color: #a9e0ee;
    text-shadow:#0d57ec 1px 1px 5px;
}
.MAYA-work1{
    margin: 50px;
    
    
    
}
.MAYA-work1{
    display: flex;
}
.MAYA-work1 img{
    width:640px;
    height: 460px;
    margin: 20px;
    padding: 0;
}
.MAYA-work1 ul{
    padding-left: 60px;
    
    border: solid 2px black;
    border-radius: 15px;
    background-color: white;
    
}
.MAYA-work1 p{
    line-height: 2cm;
}
.MAYA-work1 strong{
    font-size: 40px;
    color: rgb(255, 204, 0);
}
.MAYA-work2 .MAYA-work2-p ul{
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    margin: 50px;
}
.MAYA-work2 li{
    list-style: none;
}
.MAYA-work2 img{
    width: 400px;
    height: 400px;
}

.MAYA-work2 .MAYA-work2-comm ul{
    
    text-align: center;
    border: solid 2px black;
    
    border-radius: 25px;
    margin: 50px;
    padding: 50px;
    background-color: rgb(248, 248, 248);
}
.MAYA-work2 .MAYA-work2-comm p{
    line-height: 2cm;
}
.MAYA-work2-comm strong{
    font-size: 40px;
    color: rgb(255, 204, 0);
}

.MAYA-work3{
    display: flex;
    margin: 50px;
}
.MAYA-work3 img{
    
    margin: 20px;
    width: 640px;
    height: 460px;
    padding: 0;
}
.MAYA-work3 ul{
    
    padding-left:60px ;
    
    border: solid 2px black;
    border-radius: 25px;
    background-color: white;
}
.MAYA-work3 p{
    line-height: 2cm;
}
.MAYA-work3 strong{
    font-size: 40px;
    color: rgb(255, 204, 0);
}

.cp h3{
    font-size: 70px;
    color: #a9e0ee;
    text-shadow:#0d57ec 1px 1px 5px;
}

.cp-work1 .cp-work1-p ul{
    display: flex;

}
.cp-work1 img{
   
    width: 100%;
    height: 400px;
}
.cp-work1 .cp-comm ul{
    text-align: center;
    margin: 50px;
    padding-left:60px ;
    border-radius: 25px;
    border: solid 2px black;
    background-color: white;
    padding: 50px;
}
.cp-work1 .cp-comm p{
    line-height: 2cm;
}
.cp-comm strong{
    font-size: 40px;
    color: rgb(255, 204, 0);
}
.HTML h3{
    font-size: 70px;
    color: #a9e0ee;
    text-shadow:#0d57ec 1px 1px 5px;
}
.HTML-work .work-p ul{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    margin: 50px;
}
.HTML-work img{
    margin: 20px;
    
    width: 400px;
    height: 400px;

}
.HTML-work .work-comm ul{
    padding-left:60px ;
    border-radius: 25px;
    border: solid 2px black;
    background-color: white;
    margin: 50px;
    padding: 50px;
    text-align: center;
}
.HTML-work .work-comm p{
    line-height: 2cm;
}
.work-comm strong{
    font-size: 40px;
    color: rgb(255, 204, 0);
}
#skill{
    height: 700px;
    background-color: #ebebeb;
}

#skill h2{
    
    font-size: 70px;
    background-color: #bbc1bf;
    text-shadow:#d9ff02 3px 3px 5px;
    width: 100%;
    height: 90px;
    
}
.star ul{
    padding-left:60px ;
    border-radius: 25px;
    border: solid 2px black;
    text-align: center;
    list-style: none;
    margin: 50px;
    padding: 50px;
    line-height: 1cm;
    font-size: 3vw;
    background-color: white;
}

#end h2{
    font-size: 70px;
    color: white;
    background-color: #1b2421;
    text-shadow:#000000 3px 3px 5px;
    width: 100%;
    height: 90px;
}
#end h4{
    font-size: 50px;
    margin: 180px;
    background-color: rgb(143, 202, 231);
    padding: 100px;
}

footer{
    width: 100%;   
    display: flex;
    height: 50px;
    background-color: rgb(191, 244, 168);
    justify-content: center;
    
    position: relative;
}
footer h3{
    padding: 10px;
}

footer li{
    padding: 10px;
    position: absolute;
    list-style: none;
    right: 0;
    background-color: rgb(58, 124, 29);
    border-radius: 15px;
    
}
footer a{
    
    color: white;
    text-decoration: none;
}